
/* ==========================================================================
   Michael Marin
   ========================================================================== */

body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.Formulario-position{
    padding-top: 70px;
    padding-left: 40%;
}.mostrador {

}

.mostradorProductos {

}
